*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-clr50: #EEEDF8;
  --bg-clr100: #DCDAF1;
  --bg-clr200: #B9B6E2;
  --bg-clr300: #B9B6E2;
  --bg-clr400: #746CC6;
  --bg-clr500: #5147B8;
  --bg-clr600: #413993;
  --bg-clr700: #302B6E;
  --bg-clr800: #201D49;
  --bg-clr900: #100E25;
}

body {
  background: linear-gradient(180deg, var(--bg-clr300), var(--bg-clr50));
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: .8em;
  background: var(--bg-clr100);
  box-shadow: 0px 1px 10px var(--bg-clr400);
}


.cta {
  margin: 0;
  color: #3c4f76;
}

a {
  color: var(--bg-clr500);
  font-weight: 700;
}

h2 {
  margin: 0;
  color: var(--bg-clr500);
  text-shadow: 0px 3px 2px white;
}

img {
  width: 4em;
  padding: .4em;
  background: linear-gradient(90deg, var(--bg-clr100), var(--bg-clr200));
  border: .2em solid var(--bg-clr500);
  border-radius: 1em;
}

.main-div-one, 
.main-div-two,
small {
  padding: 1em;
}

small {
  max-width: 20px;
}

.aff-link {
  padding: .6em;
  border: none;
  border-radius: .4em;
}

.text-input {
  padding: 1em;
  min-width: 20em;
  min-height: 6em;
  border-radius: .4em;
  font-family: inherit;
}

.aff-link, .text-input {
  box-shadow: 0px 4px 3px var(--bg-clr400);
  border: 2px solid var(--bg-clr400);
  margin-right: .4em;
}

#link-submit,
#text-submit {
  padding: .6em 1em;
  border: 2px solid var(--bg-clr900);
  border-radius: .4em;
  background: var(--bg-clr500);
  color: var(--bg-clr50);
  font-family: inherit;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 5px 0px var(--bg-clr900);
  transition: all .1s ease;
}

#link-submit:hover,
#text-submit:hover {
  transform: translateY(-1px);
}

#link-submit:active,
#text-submit:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 0px var(--bg-clr900);
}

.main-div-two {
  display: flex;
  gap: 1em;
  flex-direction: column;
  max-width: 10.5em;
}

small {
  color: var(--bg-clr700);
}
