*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-clr50: #EEEDF8;
  --bg-clr100: #DCDAF1;
  --bg-clr200: #B9B6E2;
  --bg-clr300: #B9B6E2;
  --bg-clr400: #746CC6;
  --bg-clr500: #5147B8;
  --bg-clr600: #413993;
  --bg-clr700: #302B6E;
  --bg-clr800: #201D49;
  --bg-clr900: #100E25;
}

body {
  background: linear-gradient(180deg, var(--bg-clr300), var(--bg-clr50));
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  gap: 1em;
  padding: 1.5em;
  background: var(--bg-clr100);
  box-shadow: 0px 2px 6px var(--bg-clr500);
}

.header-container {
  
}

.cta {
  margin: 0;
  color: #3c4f76;
}

a {
  color: var(--bg-clr500);
  font-weight: 700;
}

h1 {
  margin: 0;
  color: var(--bg-clr500);
  text-shadow: 0px 3px 2px var(--bg-clr50);
}

img {
  width: 4em;
  padding: .4em;
  background: linear-gradient(90deg, var(--bg-clr100), var(--bg-clr200));
  border: .2em solid var(--bg-clr500);
  border-radius: 1em;
}